<div class="row-fluid">

	<div class="page-header">
		<h1>
			mateBet DB<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Gruppen</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>Season</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="g in groups">
					<td><a href="#/league/matches/{{g.leagueId}}/{{g.groupId}}">&nbsp;{{g.groupId}}&nbsp;</a></td>
					<td>{{g.name}}</td>
					<td>{{g.season}}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<input class="btn btn-primary text-right" type="button" value="Sync"
		ng-click="syncLeague(leagueId)" /> 
	<input
		class="btn btn-danger text-right" type="button" value="Delete"
		ng-click="deleteLeague(leagueId)" />

</div>
