<div class="row-fluid">

	<div class="page-header">
		<h1>
			mateBet DB<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Spiele</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>Datum</th>
					<th>Match</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="m in matches">
					<td>{{m.matchId}}</td>
					<td>{{m.matchdate | displaydate}}<br/>
					<h2>{{m.score1}} : {{m.score2}}</h2></td>
					<td><img ng-src="{{m.team1.url}}" /> {{m.team1.name}} - <img ng-src="{{m.team2.url}}" /> {{m.team2.name}}<br/>
						({{m.team1.teamId}} - {{m.team2.teamId}})</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
