<div class="row-fluid">

	<div class="page-header">
		<h1>
			OpenLigaDB<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Gruppen</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>Wann?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="g in groups">
					<td><a href="#/openliga/matches/{{g.leagueId}}/{{g.groupId}}">&nbsp;{{g.groupId}}&nbsp;</a></td>
					<td>{{g.name}}</td>
					<td>{{g.firstMatchdate | displayday}} - {{g.lastMatchdate | displaydate}}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<input class="btn btn-primary text-right" type="button"
		value="Importieren" ng-click="import(leagueId)" />

</div>
